<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="Miminium Admin Template v.1">
    <meta name="author" content="Isna Nur Azis">
    <meta name="keyword" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- start: Css -->
    <link rel="stylesheet" type="text/css" th:href="@{/asset/css/bootstrap.min.css}">

    <!-- plugins -->
    <link rel="stylesheet" type="text/css" th:href="@{/asset/css/plugins/font-awesome.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/asset/css/plugins/datatables.bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/asset/css/plugins/animate.min.css}"/>
    <link rel="stylesheet" th:href="@{/asset/css/style.css}" />
    <!-- end: Css -->

    <link rel="shortcut icon" th:href="@{/assets/img/favicon.ico}">
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- 사용자 정의 Css -->
    <link rel="stylesheet" type="text/css" th:href="@{/asset/css/plugins/dropzone.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/asset/css/plugins/jquery.steps.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/asset/css/plugins/simple-line-icons.css}" />

    <style type="text/css">
        .panel-heading > h4 {
            font-weight: bold;
            margin-bottom: 0;
            border-bottom: 2px solid #58666e;
            padding-bottom: 5px;
        }
        .panel-body:nth-child(2) {
            padding-top: 0;
        }
        .header{
            margin-top: 0px;
            background-color: #fff;
            border-bottom: 1px solid #ddd;
            height: 135px;
            transition: all 0.3s;
        }
        .footer{
            margin-top: 150px;
            background-color: #fff;
            border-bottom: 1px solid #ddd;
            height: 100px;
            transition: all 0.3s;
        }
        a {
            color: #337ab7;
            text-decoration: none;
        }
        .navbar-header a {
            color: #333 !important;
            font-size: 20px;
        }

        .form-control1 {
            margin-left: 200px;
            display: block;
            width: 30%;
            height: 34px;
            padding: 6px 12px;
            font-size: 14px;
            line-height: 1.42857143;
            color: #1c84c6;
            background-color: #fff;
            background-image: none;
            border: 1px solid #ccc;
            border-radius: 4px;
            -webkit-box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);
            box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);
            -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
            -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
            transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
        }

        #current_date{
            margin-left: -17px;
            display: inline;
            font-size: 18px;
            font-family: "SEBANG_Gothic_Regular","Helvetica Neue",Helvetica,Arial,sans-serif;
            width: 90px;
            border-bottom : none !important;
        }
        #validate_Identifier1{
            margin-top: 10px;
            width: 60px;
            display:inline;
            text-align: right;
            border-bottom : none !important;
        }
        #validate_Identifier2{
            margin-left: 2px;
            display: inline;
            font-size: 18px;
            font-family: "SEBANG_Gothic_Regular","Helvetica Neue",Helvetica,Arial,sans-serif;
            border-bottom : none !important;
            width: 30px;
        }
        #validate_Identifier3{
            margin-left: -5px;
            margin-right: -90px;
            display: inline;
            font-size: 18px;
            font-family: "SEBANG_Gothic_Regular","Helvetica Neue",Helvetica,Arial,sans-serif;
            border-bottom : none !important;
            width: 158px;
        }
        #validate_Identifier4{
            display: inline;
            width: 110px;
            border-bottom: none !important;
            font-size: 18px;
            font-family: "SEBANG_Gothic_Regular","Helvetica Neue",Helvetica,Arial,sans-serif;
        }
        #validate_File_Extension{
            margin-top:5px;
            width: 30%;
            margin-left: 63px;
        }
        a{
            color: #bbbbbb
        }
    </style>

    <title th:text="${title}"></title>
</head>
<body>
<header class="header">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header" style="margin-top: 40px;">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" th:href="@{/}">
                <p class="logo"
                   style="position: absolute;
                                             top: 60px;
                                             font-size: 27px;
                                             display: block;
                                             font-weight: 1000;
                                             color: #000000;
                                             font-family: 'Pretendard', sans-serif;">
                    K-CRMS
                    <span style="font-size: 14px; display: block; font-size: 15px; font-weight: 300;">КЫРГЫЗСКАЯ СИСТЕМА УПРАВЛЕНИЯ КУЛЬТУРНЫМИ РЕСУРСАМИ</span>
                </p>
            </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" style="margin-top: 65px;">
            <ul class="nav navbar-nav navbar-right" style="font-family: 'Pretendard', sans-serif; font-size: 16px; color: #bbbbbb">
                <li><a th:href="@{/ru}">ДОМ</a></li>
                <li th:if="${session.SEMAIL != null}"><a th:href="@{/test/ru/dataSearchResult?searchValue=}">Коллекции</a></li>
                <li th:if="${session.SEMAIL != null}"><a th:onclick="showTotalStatistics_Popup()" style="cursor:pointer">Статистика</a></li>
                <li th:if="${session.SEMAIL != null}"><a th:href="@{/admin/ru/insert}">Загрузить</a></li>
                <li th:if="${session.SEMAIL == null}"><a th:href="@{/user/ru/login}">Авторизоваться</a></li>
                <li th:unless="${session.SEMAIL == null}"><a th:href="@{/user/ru/logout}">Выйти</a></li>
                <li th:if="${session.SEMAIL == null}" ><a th:href="@{/user/ru/join}">Присоединиться</a></li>
                <li>
                    <select class="language" style="margin-top: 7px;" onchange="changeLanguage(this)">
                        <option value="Language">Язык</option>
                        <option value="English">English</option>
                        <option value="русский">русский</option>
                    </select>
                </li>
            </ul>
        </div>
    </div>
</header>
<section id="service" class="service sections margin-top-120" style="margin-top: 30px;">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="panel">
                    <div class="panel-heading bg-white border-none">
                        <h4><span class="icon-social-youtube"></span>
                            Загрузить</h4>
                    </div>
                    <div class="panel-body" style="padding-bottom:30px;">
                        <form class="mb-5" id="ArtInsert" th:action="@{/admin/ru/insert}" method="post" enctype="multipart/form-data">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group form-animate-text" style="margin-top:40px !important;">
                                                <input type="text" class="form-text" id="validate_Title" name="Title_Ru" style="margin-top: -35px;" required>
                                                <span class="bar"></span>
                                                <label>Заголовок</label>
                                            </div>
                                            <div class="form-group form-animate-text" style="margin-top:40px !important;">
                                                <input type="text" class="form-text" id="validate_Subject" name="Subject_Ru">
                                                <span class="bar"></span>
                                                <label>Предмет</label>
                                            </div>
                                            <div class="form-group form-animate-text" style="margin-top:40px !important;">
                                                <input type="text" class="form-text" id="validate_Description" name="Description_Ru" required>
                                                <span class="bar"></span>
                                                <label>Описание</label>
                                            </div>
                                            <div class="form-group form-animate-text" style="margin-top:40px !important;">
                                                <input type="text" class="form-text" id="validate_Institute_identifier" name="Institute_Identifier" >
                                                <span class="bar"></span>
                                                <label>Идентификатор института</label>
                                            </div>
                                            <div class="form-group form-animate-text" style="margin-top:40px!important;">
                                                <label>Цифровой тип данных</label>
                                                <select class="form-control1" id="validate_Digital_Data_Type" name="Digital_Data_Type_Ru" style="display: inline; width: 30%; margin-left: 350px;" required="required" onchange="mediaType(this)">
                                                    <option value="Выберите тип носителя">Выберите тип носителя</option>
                                                    <option value="Изображение">Изображение</option>
                                                    <option value="Текст">Текст</option>
                                                    <option value="видео">видео</option>
                                                </select>
                                                <select class="form-control1" id="validate_File_Extension" name="File_Extension" required="required">
                                                    <option value="File Extension">Расширение файла</option>
                                                </select>
                                            </div>
                                            <div class="form-group form-animate-text" style="margin-top:40px !important;">
                                                <label>Предоставляющее учреждение</label>
                                                <select class="form-control1" id="validate_Providing_institution" name="Providing_Institution_Ru" style="margin-left: 450px;" required="required" onchange="providing_institution(this)">
                                                    <option value="Классификация"> ::: Классификация ::: </option>
                                                    <option value="Национальный исторический музей">Национальный исторический музей</option>
                                                    <option value="Национальный музей изящных искусств">Национальный музей изящных искусств</option>
                                                    <option value="Центр кочевой цивилизации">Центр кочевой цивилизации</option>
                                                </select>
                                            </div>
                                            <div class="form-group form-animate-text" style="margin-top:40px !important;">
                                                <input type="text" class="form-text" id="validate_Identifier1">
                                                <strong> - </strong>
                                                <input type="text" class="form-text" id="validate_Identifier2">
                                                <div id="current_date"></div>
                                                <strong> - </strong>
                                                <input type="text" class="form-text" id="validate_Identifier3" th:value="${SID}">
                                                <strong> - </strong>
                                                <input type="text" class="form-text" id="validate_Identifier4" onload="getAutoCode()">
                                                <input type="hidden" class="form-text" id="validate_Identifier" name="Identifier" value="Identifier">
                                                <span class="bar"></span>
                                                <label>Идентификатор</label>
                                            </div>
                                            <div class="form-group form-animate-text" style="margin-top:40px !important;">
                                                <label>Тип объекта</label>
                                                <select class="form-control1" id="validate_Object_Type" name="Object_Type_Ru">
                                                    <option value="Выберите типы объектов">Выберите типы объектов</option>
                                                    <option value="Книга">Книга</option>
                                                    <option value="Рукописи">Рукописи</option>
                                                    <option value="Мода">Мода</option>
                                                    <option value="Искусство">Искусство</option>
                                                    <option value="Археология">Археология</option>
                                                    <option value="Фотография">Фотография</option>
                                                    <option value="Другие">Другие</option>
                                                </select>
                                            </div>
                                            <div class="form-group form-animate-text" style="margin-top:40px !important;">
                                                <input type="text" class="form-text" id="validate_Object_Size" name="Object_Size_Ru" >
                                                <span class="bar"></span>
                                                <label>Размер объекта</label>
                                            </div>
                                            <div class="form-group form-animate-text" style="margin-top:40px !important;">
                                                <input type="text" class="form-text" id="validate_Object_Material" name="Object_Material_Ru" >
                                                <span class="bar"></span>
                                                <label>Материал объекта</label>
                                            </div>
                                            <div class="form-group form-animate-text" style="margin-top:40px !important;">
                                                <input type="text" class="form-text" id="validate_Object_Etc" name="Object_Etc_Ru" >
                                                <span class="bar"></span>
                                                <label>Объект и т. д.</label>
                                            </div>
                                            <div class="form-group form-animate-text" style="margin-top:40px !important;">
                                                <label>Язык</label>
                                                <select class="form-control1" id="validate_Language" name="Language_Ru">
                                                    <option value="Выберите язык">Выберите язык</option>
                                                    <option value="English">English</option>
                                                    <option value="русский">русский</option>
                                                </select>
                                            </div>
                                            <div class="form-group form-animate-text" style="margin-top:40px !important;">
                                                <input type="text" class="form-text" id="validate_Temporary" name="Temporary_Ru" >
                                                <span class="bar"></span>
                                                <label>Временные</label>
                                            </div>
                                            <div class="form-group form-animate-text" style="margin-top:40px !important;">
                                                <input type="text" class="form-text" id="validate_Places" name="Place_Ru" >
                                                <span class="bar"></span>
                                                <label>Места</label>
                                            </div>
                                            <div class="form-group form-animate-text" style="margin-top:40px !important;">
                                                <input type="text" class="form-text" id="validate_Current_location" name="Current_location_Ru" >
                                                <span class="bar"></span>
                                                <label>Текущее местоположение</label>
                                            </div>
                                            <div class="form-group form-animate-text" style="margin-top:40px !important;">
                                                <input type="text" class="form-text" id="validate_Coverage" name="Coverage_Ru" >
                                                <span class="bar"></span>
                                                <label>Покрытие</label>
                                            </div>
                                            <div class="form-group form-animate-text" style="margin-top:40px !important;">
                                                <input type="text" class="form-text" id="validate_Creator" name="Creator_Ru" >
                                                <span class="bar"></span>
                                                <label>Создатель</label>
                                            </div>
                                            <div class="form-group form-animate-text" style="margin-top:40px !important;">
                                                <input type="text" class="form-text" id="validate_Participants" name="Participants_Ru" >
                                                <span class="bar"></span>
                                                <label>Участники</label>
                                            </div>
                                            <div class="form-group form-animate-text" style="margin-top:40px !important;">
                                                <input type="text" class="form-text" id="validate_Publisher" name="Publisher_Ru" >
                                                <span class="bar"></span>
                                                <label>Издатель</label>
                                            </div>
                                            <div class="form-group form-animate-text" style="margin-top:40px !important;">
                                                <input type="text" class="form-text" id="validate_Provider" name="Provider_Ru" >
                                                <span class="bar"></span>
                                                <label>Провайдер</label>
                                            </div>
                                            <div class="form-group form-animate-text" style="margin-top:40px !important;">
                                                <input type="text" class="form-text" id="validate_Provider_Country" name="Provider_Country_Ru" >
                                                <span class="bar"></span>
                                                <label>Страна провайдера</label>
                                            </div>
                                            <div class="form-group form-animate-text" style="margin-top:40px !important;">
                                                <input type="text" class="form-text" id="validate_Collection_Name" name="Collection_Name_Ru" >
                                                <span class="bar"></span>
                                                <label>Название коллекции</label>
                                            </div>
                                            <div class="form-group form-animate-text" style="margin-top:40px !important;">
                                                <input type="text" class="form-text" id="validate_Source" name="Source_Ru" >
                                                <span class="bar"></span>
                                                <label>Источник</label>
                                            </div>
                                            <div class="form-group form-animate-text" style="margin-top:40px !important;">
                                                <input type="text" class="form-text" id="validate_isPartOf" name="IsPartOf_Ru" >
                                                <span class="bar"></span>
                                                <label>Эточасть</label>
                                            </div>
                                            <div class="form-group form-animate-text" style="margin-top:40px !important;">
                                                <input type="text" class="form-text" id="validate_Links" name="Links" >
                                                <span class="bar"></span>
                                                <label>Ссылки(является ссылкой)</label>
                                            </div>
                                            <div class="form-group form-animate-text" style="margin-top:40px !important;">
                                                <label>Заявление о правах для СМИ в этом элементе</label>
                                                <span>
                                                        <select class="form-control1" id="validate_Rights_statement" name="Rights_Statement_Media" style="margin-left: 650px; width: 40%" required="required">
                                                            <option value="Могу ли я использовать это?">Могу ли я использовать это?</option>
                                                            <option value="https://creativecommons.org/licenses/by-sa/4.0/">Да (бесплатно)</option>
                                                            <option value="https://creativecommons.org/licenses/by-nc-nd/4.0/">Да с условиями</option>
                                                            <option value="http://rightsstatements.org/vocab/InC/1.0/">Может быть, получить разрешение</option>
                                                        </select>
                                                        </span>
                                            </div>
                                            <div class="form-group form-animate-text" style="margin-top:40px !important;">
                                                <input type="text" class="form-text" id="validate_Rights" name="Rights_Ru" >
                                                <span class="bar"></span>
                                                <label>Права</label>
                                            </div>
                                        </div>
                                        <h5>Файл загружен</h5>
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <div class="input-group fileupload-v1">
                                                    <input type="file" name="fileImage" multiple="multiple" class="fileupload-v1-file hidden"/>
                                                    <input type="text" class="form-control fileupload-v1-path" placeholder="Путь к файлу..." disabled>
                                                    <span class="input-group-btn">
                                                        <button class="btn fileupload-v1-btn" type="button"><i class="fa fa-folder"></i> Выбрать файл </button>
                                                    </span>
                                                </div><!-- /input-group -->
                                            </div><!-- /.col-lg-6 -->
                                            <div class="panel-body">
                                                <div class="dropzone" id="my-awesome-dropzone"></div>
                                            </div>
                                        </div>
                                        <div style="text-align: center;">
                                            <input class="submit btn btn-danger" type="submit" value="Загрузить">
                                        </div>
                                    </div>
                                </div>
                            </div><!-- /.row -->
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- start: Javascript -->
<script th:src="@{/asset/js/jquery.min.js}"></script>
<script th:src="@{/asset/js/jquery.ui.min.js}"></script>
<script th:src="@{/asset/js/bootstrap.min.js}"></script>
<!-- plugins -->
<script th:src="@{/asset/js/plugins/moment.min.js}"></script>
<script th:src="@{/asset/js/plugins/dropzone.js}"></script>
<script th:src="@{/asset/js/plugins/jquery.nicescroll.js}"></script>
<script th:src="@{/asset/js/plugins/jquery.validate.min.js}"></script>
<!-- custom -->
<script th:src="@{/asset/js/main.js}"></script>
<script type="text/javascript">
    $(document).ready(function(){

        $("#ArtInsert").validate({
            errorElement: "em",
            errorPlacement: function(error, element) {
                $(element.parent("div").addClass("form-animate-error"));
                error.appendTo(element.parent("div"));
            },
            success: function(label) {
                $(label.parent("div").removeClass("form-animate-error"));
            },
            rules: {
                validate_Objects: "required",
            },
            messages: {
                validate_Objects: "Please write.",
            }
        });

        /* Identifier 날짜 생성 */
       /* date = new Date().toLocaleDateString().replace(/\./g, "");
          document.getElementById("current_date").innerHTML = day + "" + month + "" + year; */
        let date = new Date();
        let year = date.getFullYear();
        let month = date.getMonth() + 1;
        let day = date.getDate();

        if(month < 10){
            month = "0" + month;
        }
        if(day < 10){
            day = "0" + day;
        }
        $('#current_date').append(day + month + year);


        /* Identifier value 담겨있는지 확인 */
        $('#submit').click(function() {
            if ($('#validate_Identifier').val().length === 0) {
                alert('Enter your name!');
            }
        });

    });

    function changeLanguage(e){
        if(e.value == "English"){
            location.href="/admin/insert";
        }
        else if(e.value == "русский"){
            location.href="/admin/ru/insert";
        }

    }


    /* File_Extension select 감추기 */
    $("#validate_File_Extension").css("display", "none");

    /* Digital Data Type select 선택값에 따라 두번째 select 값 변경 */
    function mediaType(e){
        let fileExtension;
        console.log("이거되나유");
        const Image = ["jpg", "png", "gif", "bmp"];
        const Text = ["doc", "pdf"];
        const Video = ["mp4", "avi"];
        const target = document.getElementById("validate_File_Extension");

        target.options.length = 0;

        if(e.value == "Изображение") {
            $("#validate_File_Extension").css("display", "inline-block");
            fileExtension = Image;
            $('#validate_Identifier2').val("I");
        }
        else if(e.value == "Текст") {
            $("#validate_File_Extension").css("display", "inline-block");
            fileExtension = Text;
            $('#validate_Identifier2').val("T");
        }
        else if(e.value == "видео") {
            $("#validate_File_Extension").css("display", "inline-block");
            fileExtension = Video;
            $('#validate_Identifier2').val("V");
        }
        else if(e.value == "Выберите тип носителя") {
            $("#validate_File_Extension").css("display", "none");
            $('#validate_Identifier2').val("");

        }

        for(x in fileExtension){
            const opt = document.createElement("option");
            opt.value = fileExtension[x];
            opt.innerHTML = fileExtension[x];
            target.appendChild(opt);
        }

    }

    /* providing_institution select 선택별 입력값 Indentifier input에 생성 */
   /* function providing_institution(e){
        console.log("이거 되고 있얼?");
        const opt = document.getElementById("validate_Providing_institution");
        const optVal = opt.options[opt.selectedIndex].value;
        const valI = document.getElementById("validate_Identifier1");

        valI.value = optVal;

    }*/
    function getAutoCode() {
        let getCode;
        $.ajax({
            type: 'POST',
            url: '/test/insert',        //xml에 쿼리문 작성하고 그 url사용 한거
            data: {autoIncreCode : this.autoIncreCode},
            async:false,        //동기식으로 사용해야지 리턴값이 있어서 false로 써줘야함
            success: function (data) {
                console.log(data, 'data');
                if (data) {
                    getCode = $("#validate_Identifier4").val(data);
                }
            }, //success
            error: function (e) {
                console.log(e);
            },
        }); //ajax
        console.log(getCode);
        return getCode;
    }
    function providing_institution(e) {
        console.log("이거 되고 있얼?");
        getAutoCode();
        if (e.value == "Национальный исторический музей") {
            $('#validate_Identifier1').val("NHM");
        }
        else if (e.value == "Национальный музей изящных искусств") {
            $('#validate_Identifier1').val("FAM");
        }
        else if (e.value == "Центр кочевой цивилизации") {
            $('#validate_Identifier1').val("NOM");
        }
        else if (e.value == "Классификация") {
            $('#validate_Identifier1').val("");
        }

        /* Identifier 입력값(기관별-날짜-입력자코드-입력번호) value에 담기 */
        let result = '';
        let day = $('#current_date').text();
        console.log(day);
        let id = $('#validate_Identifier1').val();
        console.log(id);
        let id2 = $('#validate_Identifier2').val();
        console.log(id2);
        let id3 = $('#validate_Identifier3').val();
        console.log(id3);
        let id4 = $('#validate_Identifier4').val();
        console.log(id4);

        result = id + '-' + id2 + day + '-' + id3 + '-' + id4;
        console.log(result, '<-result');

        $('#validate_Identifier').val(result);
        console.log($('#validate_Identifier').val(),'<-Identifier value');


    }

    function showTotalStatistics_Popup(){
        const url = "/test/ru/totalStatisticsPopup";
        const winWidth = 1000;
        const winHeight = 700;
        const left = 0;
        const top = 0;
        const popupOption = "width=" + winWidth + ", height=" + winHeight + ", left=" + left + ", top=" +top;
        window.open(url, "Статическая информация", popupOption);
    }


</script>
<!-- end: Javascript -->
<footer class="footer">
    <div class="container">
        <div class="main_footer">
            <div class="row">
                <div class="col-sm-12">
                    <div class="copyright_text text-center">
                        <p class=" wow fadeInRight" data-wow-duration="1s" style="margin-top: 10px">
                            <b>Система управления культурными ресурсами Кыргызстана</b>
                            <p>VJH3+3GC, проспект Чуй, Бишкек, Кыргызстан</p>
                            <!--<p>
                                <a target="_blank" href="https://cics.center">The Center for Intangible Culture Studies</a>
                            </p>-->
                            <p>shinwhahong@cics.center</p>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- End of container -->
</footer>

</body>
</html>