<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang=""> <!--<![endif]-->

<html xmlns:th="http://www.thymeleaf.org">

  <!-- start: Header -->
  <header id="main_menu" class="header navbar-fixed-top" th:fragment="headerFragment_ru">
      <div class="main_menu_bg">
          <div class="container">
              <div class="row">
                  <div class="nave_menu">
                      <nav class="navbar navbar-default" id="navmenu">
                          <div class="container-fluid">
                              <!-- Brand and toggle get grouped for better mobile display -->
                              <div class="navbar-header">
                                  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                                      <span class="sr-only">Toggle navigation</span>
                                      <span class="icon-bar"></span>
                                      <span class="icon-bar"></span>
                                      <span class="icon-bar"></span>
                                  </button>
                                  <a class="navbar-brand" th:href="@{/ru}">
                                      <strong>КГЗ ТЕСТ</strong>
                                      <!--<img src="assets/images/logo.png"/>-->
                                  </a>
                              </div>

                              <!-- Collect the nav links, forms, and other content for toggling -->

                              <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                                  <ul class="nav navbar-nav navbar-right">
                                      <li th:if="${session.SEMAIL != null}" style="margin-top: 13px; font-size: 17px;">
                                          Добро пожаловать [[${session.SNAME}]]</li>
                                      <li><a th:href="@{/ru}">ДОМ</a></li>
                                      <li><a th:href="@{/test/ru/dataSearchResult?searchValue=}">Коллекции</a></li>
                                      <li th:if="${session.SEMAIL != null}"><a th:onclick="showTotalStatistics_Popup()" style="cursor:pointer">Статистика</a></li>
                                      <li th:if="${session.SEMAIL != null}"><a th:href="@{/admin/ru/insert}">Загрузить</a></li>
                                      <li th:if="${session.SEMAIL == null}"><a th:href="@{/user/ru/login}">Авторизоваться</a></li>
                                      <li th:unless="${session.SEMAIL == null}"><a th:href="@{/user/ru/logout}">Выйти</a></li>
                                      <li th:if="${session.SEMAIL == null}" ><a th:href="@{/user/ru/join}">Присоединиться</a></li>
                                      <li>
                                          <select class="language" style="margin-top: 10px;" onchange="changeLanguage(this)">
                                              <option value="Language">Язык</option>
                                              <option value="English">English</option>
                                              <option value="русский">русский</option>
                                          </select>
                                      </li>
                                  </ul>
                              </div>
                          </div>
                      </nav>
                  </div>
                  <script>
                      function showTotalStatistics_Popup(){
                          const url = "/test/ru/totalStatisticsPopup";
                          const winWidth = 1000;
                          const winHeight = 700;
                          const left = 0;
                          const top = 0;
                          const popupOption = "width=" + winWidth + ", height=" + winHeight + ", left=" + left + ", top=" +top;
                          window.open(url, "Статическая информация", popupOption);
                      }

                      function changeLanguage(e){
                          if(e.value == "English"){
                              location.href="/";
                          }
                          else if(e.value == "русский"){
                              location.href="/ru";
                          }

                      }

                  </script>
              </div>
          </div>
      </div>
  </header> <!--End of header -->



</html>