@charset "utf-8";
/* CSS Document */


@charset "utf-8";

/* Pretendard */
@font-face{
	font-family:'Pretendard';
	font-weight:100;
	src:url('fonts/Pretendard-Thin.otf') format('opentype');
	src:url('fonts/Pretendard-Thin.otf') format('opentype'),
	    url('fonts/Pretendard-Thin.woff2') format('woff2'),
	    url('fonts/Pretendard-Thin.woff') format('woff'),
	    url('fonts/Pretendard-Thin.ttf') format('truetype');
}
@font-face{
	font-family:'Pretendard';
	font-weight:200;
	src:url('fonts/Pretendard-ExtraLight.otf') format('opentype');
	src:url('fonts/Pretendard-ExtraLight.otf') format('opentype'),
	    url('fonts/Pretendard-ExtraLight.woff2') format('woff2'),
	    url('fonts/Pretendard-ExtraLight.woff') format('woff'),
	    url('fonts/Pretendard-ExtraLight.ttf') format('truetype');
}
@font-face{
	font-family:'Pretendard';
	font-weight:300;
	src:url('fonts/Pretendard-Light.otf') format('opentype');
	src:url('fonts/Pretendard-Light.otf') format('opentype'),
	    url('fonts/Pretendard-Light.woff2') format('woff2'),
	    url('fonts/Pretendard-Light.woff') format('woff'),
	    url('fonts/Pretendard-Light.ttf') format('truetype');
}
@font-face{
	font-family:'Pretendard';
	font-weight:400;
	src:url('fonts/Pretendard-Regular.otf') format('opentype');
	src:url('fonts/Pretendard-Regular.otf') format('opentype'),
	    url('fonts/Pretendard-Regular.woff2') format('woff2'),
	    url('fonts/Pretendard-Regular.woff') format('woff'),
	    url('fonts/Pretendard-Regular.ttf') format('truetype');
}
@font-face{
	font-family:'Pretendard';
	font-weight:500;
	src:url('fonts/Pretendard-Medium.otf') format('opentype');
	src:url('fonts/Pretendard-Medium.otf') format('opentype'),
	    url('fonts/Pretendard-Medium.woff2') format('woff2'),
	    url('fonts/Pretendard-Medium.woff') format('woff'),
	    url('fonts/Pretendard-Medium.ttf') format('truetype');
}
@font-face{
	font-family:'Pretendard';
	font-weight:600;
	src:url('fonts/Pretendard-SemiBold.otf') format('opentype');
	src:url('fonts/Pretendard-SemiBold.otf') format('opentype'),
	    url('fonts/Pretendard-SemiBold.woff2') format('woff2'),
	    url('fonts/Pretendard-SemiBold.woff') format('woff'),
	    url('fonts/Pretendard-SemiBold.ttf') format('truetype');
}
@font-face{
	font-family:'Pretendard';
	font-weight:700;
	src:url('fonts/Pretendard-Bold.otf') format('opentype');
	src:url('fonts/Pretendard-Bold.otf') format('opentype'),
	    url('fonts/Pretendard-Bold.woff2') format('woff2'),
	    url('fonts/Pretendard-Bold.woff') format('woff'),
	    url('fonts/Pretendard-Bold.ttf') format('truetype');
}
@font-face{
	font-family:'Pretendard';
	font-weight:800;
	src:url('fonts/Pretendard-ExtraBold.otf') format('opentype');
	src:url('fonts/Pretendard-ExtraBold.otf') format('opentype'),
	    url('fonts/Pretendard-ExtraBold.woff2') format('woff2'),
	    url('fonts/Pretendard-ExtraBold.woff') format('woff'),
	    url('fonts/Pretendard-ExtraBold.ttf') format('truetype');
}
@font-face{
	font-family:'Pretendard';
	font-weight:900;
	src:url('fonts/Pretendard-Black.otf') format('opentype');
	src:url('fonts/Pretendard-Black.otf') format('opentype'),
	    url('fonts/Pretendard-Black.woff2') format('woff2'),
	    url('fonts/Pretendard-Black.woff') format('woff'),
	    url('fonts/Pretendard-Black.ttf') format('truetype');
}


body,input,textarea,select,option,button { font-family: 'Pretendard',  sans-serif; font-weight:400;}

body { margin:0; font-size:19px; color:#000; background:#fff; -webkit-text-size-adjust:none; -moz-text-size-adjust:none; -ms-text-size-adjust:none;}
form { margin:0; padding:0;}
fieldset { margin:0; border:0 none; padding:0;}
legend { display:none; padding:0; margin:0;}
input { font-size:0.95em;margin:0; border:0; vertical-align:middle;}
textarea { font-size:0.95em;}
select, option { vertical-align:middle;}
button {margin:0;padding:0;border:none; }
caption{overflow:hidden;width:0;height:0;line-height:0;text-indent:-9999px}
img { margin:0; border:0 none;vertical-align:middle;}
address{font-style:normal;}
div, p, ul, ol, li, img, a, h1, h2, h3, h4, h5, h6, form, input, span, iframe, dl, dt, dd, caption  {margin:0;padding:0;border:none;}
table, td, tr, th{ font-weight:600;padding:0;margin:0;}
table{border-collapse:collapse; vertical-align:top;}

/* 아이폰 사파리 라운드 및 그라데이션 없애기  */
textarea, button {-webkit-appearance:none; -moz-appearance:none; /*appearance:none;*/}
textarea, button, select {-webkit-border-radius:0; -moz-border-radius:0; -o-border-radius:0; border-radius:0;}



/* 스킵 */
#skip { height:0;}
#skip a { display:block; position:absolute; left:-6000px; top:-6000px; z-index:10000000; width:100%; height:30px; line-height:30px; background:#039; color:#fff; 

text-align:center;}
#skip a:focus, #skip a:active { left:0; top:0;}

.keep_all table { word-break: keep-all !important; }
.break-all table { word-break: break-all !important;}


ul,ol,li,dl {list-style:none;}

strong, b { font-weight:600;}
.fw{ font-weight:600;}
.hand{ cursor:pointer;} 
 
 
a{text-decoration:none;color:#000;margin:0;padding:0;}
a:visited{text-decoration:none;color:#000;}
a:active{text-decoration:none;color:#000;}
a:hover{text-decoration:none;color:#000;}



.inner{ position:relative; width:1680px; margin:0 auto;}


.none { display:none;}
.block { display:block;}
.hide{ display:block;overflow:hidden;position:absolute;left:-5000px;top:0;}



.bg_none{ background:none;}
.border_none{ border:0 none;}
.clear{ clear:both;}



.al { text-align:left;}
.ar { text-align:right;}
.ac { text-align:center;}
.aa { text-align:justify;}

.fl{ float:left;}
.fr{float:right;}


.vt { vertical-align:top;}
.vm { vertical-align:middle;}
.vb { vertical-align:bottom;}
.vv { vertical-align:baseline;}



h1 { font-weight:600;}
h2 { font-weight:600;}
h3 { font-weight:600;}
h4 { font-weight:600;}
h5 { font-weight:600;}
h6 { font-weight:600;}


/* 열고닫기*/
.hx-com-showhide-txt{ display:none;}


/* 폰트컬러*/
.fc01{ color:#ed0000;}
.fc02{ color:#ff6000;}
.fc03{ color:#fac200;}
.fc04{ color:#519c00;}
.fc05{ color:#005cbb !important;}
.fc06{ color:#002270;}
.fc07{ color:#69007c;}
.fc08{ color:#fff;}
.fc09{color: #000 !important;}
.fc10{ color:#8e8e8e;}


.fc11{ color:#df526f}
.fc12{ color:#c17a31}
.fc13{ color:#da5c10}
.fc14{ color:#fa5e41}
.fc15{ color:#0099e3}
.fc16{ color:#f84913}
.fc17{ color:#9a4f50}
.fc18{color: #2D3F9A !important;}




/* 폰트사이즈*/
.fs11{ font-size:11px;}
.fs12{ font-size:11px;}
.fs13{ font-size:13px;}
.fs14{ font-size:14px;}
.fs15{ font-size:15px;}
.fs16{ font-size:16px;}
.fs17{ font-size:17px;}
.fs18{ font-size:18px;}
.fs19{ font-size:19px;}
.fs20{ font-size:20px;}
.fs21{ font-size:21px;}
.fs22{ font-size:22px;}
.fs23{ font-size:23px;}
.fs24{ font-size:24px;}
.fs25{ font-size:25px;}
.fs26{ font-size:26px;}
.fs27{ font-size:27px;}
.fs28{ font-size:28px;}
.fs29{ font-size:29px;}
.fs30{ font-size:30px;}
.fs31{ font-size:31px;}
.fs32{ font-size:32px;}
.fs33{ font-size:33px;}
.fs34{ font-size:34px;}
.fs35{ font-size:35px;}
.fs36{ font-size:36px;}
.fs37{ font-size:37px;}
.fs38{ font-size:38px;}
.fs39{ font-size:39px;}
.fs40{ font-size:40px;}


.fs50{font-size:50%;}
.fs60{font-size:60%;}
.fs70{font-size:70%;}
.fs80{font-size:80%;}
.fs90{font-size:90%;}
.fs100{font-size:100%;}
.fs110{font-size:110%;}
.fs120{font-size:120%;}
.fs130{font-size:130%;}
.fs140{font-size:140%;}
.fs150{font-size:150%;}
.fs160{font-size:160%;}
.fs170{font-size:170%;}
.fs180{font-size:180%;}
.fs190{font-size:190%;}
.fs200{font-size:200%;}
.fs210{font-size:210%;}
.fs220{font-size:220%;}
.fs230{font-size:230%;}
.fs240{font-size:240%;}
.fs250{font-size:250%;}
.fs260{font-size:260%;}
.fs270{font-size:270%;}
.fs280{font-size:280%;}
.fs290{font-size:290%;}
.fs300{font-size:300%;}


.fw_bold{font-weight: bold !important;;}


/* margin setting */
.mg00 { margin:0 !important;}
.mg05 { margin:5px;}
.mg10 { margin:10px;}
.mg15 { margin:15px;}
.mg20 { margin:20px;}
.mg25 { margin:25px;}
.mg30 { margin:30px;}
.mg35 { margin:35px;}
.mg40 { margin:40px;}
.mg45 { margin:45px;}
.mg50 { margin:50px;}

.mt00{ margin-top:0 !important;}
.mt05{ margin-top:5px;}
.mt10{ margin-top:10px;}
.mt15{ margin-top:15px;}
.mt20{ margin-top:20px;}
.mt25{ margin-top:25px;}
.mt30{ margin-top:30px;}
.mt35{ margin-top:35px;}
.mt40{ margin-top:40px;}
.mt45{ margin-top:45px;}
.mt50{ margin-top:50px;}

.mt-5{margin-top:-5px !important;}
.mt-10{margin-top:-10px !important;}
.mt-15{margin-top:-15px !important;}
.mt-20{margin-top:-20px !important;}
.mt-25{margin-top:-25px !important;}
.mt-30{margin-top:-30px !important;}
.mt-35{margin-top:-35px !important;}
.mt-40{margin-top:-40px !important;}
.mt-45{margin-top:-45px !important;}
.mt-50{margin-top:-50px !important;}

.ml00{ margin-left:0 !important;}
.ml05{ margin-left:5px;}
.ml10{ margin-left:10px;}
.ml15{ margin-left:15px;}
.ml20{ margin-left:20px;}
.ml25{ margin-left:25px;}
.ml30{ margin-left:30px;}
.ml35{ margin-left:35px;}
.ml40{ margin-left:40px;}
.ml45{ margin-left:45px;}
.ml50{ margin-left:50px;}


.mr00{ margin-right:0 !important;}
.mr05{ margin-right:5px;}
.mr10{ margin-right:10px;}
.mr15{ margin-right:15px;}
.mr20{ margin-right:20px;}
.mr25{ margin-right:25px;}
.mr30{ margin-right:30px;}
.mr35{ margin-right:35px;}
.mr40{ margin-right:40px;}
.mr45{ margin-right:45px;}
.mr50{ margin-right:50px;}

.mb00{ margin-bottom:0 !important;}
.mb05{ margin-bottom:5px;}
.mb10{ margin-bottom:10px;}
.mb15{ margin-bottom:15px;}
.mb20{ margin-bottom:20px;}
.mb25{ margin-bottom:25px;}
.mb30{ margin-bottom:30px;}
.mb35{ margin-bottom:35px;}
.mb40{ margin-bottom:40px;}
.mb45{ margin-bottom:45px;}
.mb50{ margin-bottom:50px;}


/* padding setting */


.pd00 { padding:0 !important;}
.pd05 { padding:5px;}
.pd10 { padding:10px;}
.pd15 { padding:15px;}
.pd20 { padding:20px;}
.pd25 { padding:25px;}
.pd30 { padding:30px;}
.pd35 { padding:35px;}
.pd40 { padding:40px;}
.pd45 { padding:45px;}
.pd50 { padding:50px;}

.pt00{ padding-top:0 !important;}
.pt05{ padding-top:5px;}
.pt10{ padding-top:10px;}
.pt15{ padding-top:15px;}
.pt20{ padding-top:20px;}
.pt25{ padding-top:25px;}
.pt30{ padding-top:30px;}
.pt35{ padding-top:35px;}
.pt40{ padding-top:40px;}
.pt45{ padding-top:45px;}
.pt50{ padding-top:50px;}

.pl00{ padding-left:0 !important;}
.pl05{ padding-left:5px;}
.pl10{ padding-left:10px;}
.pl15{ padding-left:15px;}
.pl20{ padding-left:20px;}
.pl25{ padding-left:25px;}
.pl30{ padding-left:30px;}
.pl35{ padding-left:35px;}
.pl40{ padding-left:40px;}
.pl45{ padding-left:45px;}
.pl50{ padding-left:50px;}

.pr00{ padding-right:0 !important;}
.pr05{ padding-right:5px;}
.pr10{ padding-right:10px;}
.pr15{ padding-right:15px;}
.pr20{ padding-right:20px;}
.pr25{ padding-right:25px;}
.pr30{ padding-right:30px;}
.pr35{ padding-right:35px;}
.pr40{ padding-right:40px;}
.pr45{ padding-right:45px;}
.pr50{ padding-right:50px;}

.pb00{ padding-bottom:0 !important;}
.pb05{ padding-bottom:5px;}
.pb10{ padding-bottom:10px;}
.pb15{ padding-bottom:15px;}
.pb20{ padding-bottom:20px;}
.pb25{ padding-bottom:25px;}
.pb30{ padding-bottom:30px;}
.pb35{ padding-bottom:35px;}
.pb40{ padding-bottom:40px;}
.pb45{ padding-bottom:45px;}
.pb50{ padding-bottom:50px;}






/* input setting */
.input05{width:5px; border:1px solid #e5e5e5;background:#f8f8f8;height:30px;}
.input10{width:10px; border:1px solid #e5e5e5;background:#f8f8f8;height:30px;}
.input20{width:20px; border:1px solid #e5e5e5;background:#f8f8f8;height:30px;}
.input30{width:30px; border:1px solid #e5e5e5;background:#f8f8f8;height:30px;}
.input40{width:40px; border:1px solid #e5e5e5;background:#f8f8f8;height:30px;}
.input50{width:50px; border:1px solid #e5e5e5;background:#f8f8f8;height:30px;}
.input60{width:60px; border:1px solid #e5e5e5;background:#f8f8f8;height:30px;}
.input80{width:80px; border:1px solid #e5e5e5;background:#f8f8f8;height:30px;}
.input90{width:90px; border:1px solid #e5e5e5;background:#f8f8f8;height:30px;}
.input100{width:100px; border:1px solid #e5e5e5;background:#f8f8f8;height:30px;}
.input110{width:110px; border:1px solid #e5e5e5;background:#f8f8f8;height:30px;}
.input120{width:120px; border:1px solid #e5e5e5;background:#f8f8f8;height:30px;}
.input130{width:130px; border:1px solid #e5e5e5;background:#f8f8f8;height:30px;}
.input140{width:140px; border:1px solid #e5e5e5;background:#f8f8f8;height:30px;}
.input150{width:150px; border:1px solid #e5e5e5;background:#f8f8f8;height:30px;}
.input160{width:160px; border:1px solid #e5e5e5;background:#f8f8f8;height:30px;}
.input170{width:170px; border:1px solid #e5e5e5;background:#f8f8f8;height:30px;}
.input180{width:180px; border:1px solid #e5e5e5;background:#f8f8f8;height:30px;}
.input190{width:190px; border:1px solid #e5e5e5;background:#f8f8f8;height:30px;}
.input200{width:200px; border:1px solid #e5e5e5;background:#f8f8f8;height:30px;}
.input210{width:210px; border:1px solid #e5e5e5;background:#f8f8f8;height:30px;}
.input220{width:220px; border:1px solid #e5e5e5;background:#f8f8f8;height:30px;}
.input230{width:230px; border:1px solid #e5e5e5;background:#f8f8f8;height:30px;}
.input240{width:240px; border:1px solid #e5e5e5;background:#f8f8f8;height:30px;}
.input250{width:250px; border:1px solid #e5e5e5;background:#f8f8f8;height:30px;}
.input260{width:260px; border:1px solid #e5e5e5;background:#f8f8f8;height:30px;}
.input270{width:270px; border:1px solid #e5e5e5;background:#f8f8f8;height:30px;}
.input280{width:280px; border:1px solid #e5e5e5;background:#f8f8f8;height:30px;}
.input290{width:290px; border:1px solid #e5e5e5;background:#f8f8f8;height:30px;}
.input300{width:300px; border:1px solid #e5e5e5;background:#f8f8f8;height:30px;}
.input350{width:350px; border:1px solid #e5e5e5;background:#f8f8f8;height:30px;}
.input400{width:400px; border:1px solid #e5e5e5;background:#f8f8f8;height:30px;}
.input450{width:450px; border:1px solid #e5e5e5;background:#f8f8f8;height:30px;}
.input500{width:500px; border:1px solid #e5e5e5;background:#f8f8f8;height:30px;}
.input550{width:550px; border:1px solid #e5e5e5;background:#f8f8f8;height:30px;}
.input600{width:600px; border:1px solid #e5e5e5;background:#f8f8f8;height:30px;}
.input650{width:650px; border:1px solid #e5e5e5;background:#f8f8f8;height:30px;}



/* search input */
.input10f{ width:10%; border:1px solid #e5e5e5;background:#f8f8f8;height:30px;}
.input20f{ width:20%; border:1px solid #e5e5e5;background:#f8f8f8;height:30px;}
.input25f{ width:25%; border:1px solid #e5e5e5;background:#f8f8f8;height:30px;}
.input30f{ width:30%; border:1px solid #e5e5e5;background:#f8f8f8;height:30px;}
.input35f{ width:35%; border:1px solid #e5e5e5;background:#f8f8f8;height:30px;}
.input40f{ width:40%; border:1px solid #e5e5e5;height:30px;}
.input45f{ width:45%; border:1px solid #e5e5e5;background:#f8f8f8;height:30px;}
.input50f{ width:50%; border:1px solid #e5e5e5;background:#f8f8f8;height:30px;}
.input55f{ width:55%; border:1px solid #e5e5e5;background:#f8f8f8;height:30px;}
.input60f{ width:60%; border:1px solid #e5e5e5;background:#f8f8f8;height:30px;}
.input65f{ width:65%; border:1px solid #e5e5e5;background:#f8f8f8;height:30px;}
.input70f{ width:70%; border:1px solid #e5e5e5;background:#f8f8f8;height:30px;}
.input75f{ width:75%; border:1px solid #e5e5e5;background:#f8f8f8;height:30px;}
.input80f{ width:80%; border:1px solid #e5e5e5;background:#f8f8f8;height:30px;}
.input85f{ width:85%; border:1px solid #e5e5e5;background:#f8f8f8;height:30px;}
.input90f{ width:90%; border:1px solid #e5e5e5;background:#f8f8f8;height:30px;}
.input95f{ width:95%; border:1px solid #e5e5e5;background:#f8f8f8;height:30px;}
.input100f{ width:99.7%; border:1px solid #e5e5e5;background:#f8f8f8;height:30px;}




/* 준비중입니다 페이지*/
.c_ing{background:#f5f5f5 url("/images/001kunsan/inc/ing01.png") center 25px no-repeat; height:70px; font-size:180%; padding-top:240px; border:1px solid 

#e6e6e6; border-radius:20px; text-align:center; margin-bottom:30px;}


/* 피시 모바일에서 숨기고 보이기 기능 */
.pcv_moh_1400{}
.pcv_moh_1220{}
.pcv_moh_1100{}
.pcv_moh_1000{}
.pcv_moh_768{}
.pcv_moh_480{}
.pcv_moh_320{}

.pch_mov_1400{ display:none;}
.pch_mov_1220{display:none;}
.pch_mov_1100{display:none;}
.pch_mov_1000{display:none;}
.pch_mov_768{display:none;}
.pch_mov_480{display:none;}
.pch_mov_320{display:none;}




/* 피시 모바일에서 이미지 100% 기능 */
.pc_mo100{width:auto;}
.pc_mo100 img{width:auto;}

.pc100_mo{ width:100%;}
.pc100_mo img{ width:100%;}

.pc100_mo100{ width:100%;}
.pc100_mo100 img{ width:100%;}




@media all and (max-width :1920px) {
	body{ font-size:15px;}
.inner{ width:1280px;}

}


@media all and (max-width :1400px) {


/* 피시 모바일에서 숨기고 보이기 기능 */
.pcv_moh_1400{ display:none;}
.pch_mov_1400{ display:block;}

/* 피시 모바일에서 이미지 100% 기능 */
.pc_mo100_1400{width:100%;}
.pc_mo100_1400 img{width:100%;}

.pc100_mo_1100{ width:auto;}
.pc100_mo_1400 img{ width:auto;}

/* 테이블 가로 스크롤바 자동 생성 */
.cscroll_1400 {-webkit-overflow-scrolling:touch; overflow-x: scroll; overflow-y: auto;width:100%; margin-bottom:10px;}




}




@media all and (max-width :1220px) {


/* 피시 모바일에서 숨기고 보이기 기능 */
.pcv_moh_1220{ display:none;}
.pch_mov_1220{ display:block;}

/* 피시 모바일에서 이미지 100% 기능 */
.pc_mo100_1220{width:100%;}
.pc_mo100_1220 img{width:100%;}

.pc100_mo_1220{ width:auto;}
.pc100_mo_1220 img{ width:auto;}

/* 테이블 가로 스크롤바 자동 생성 */
.cscroll_1220 {-webkit-overflow-scrolling:touch; overflow-x: scroll; overflow-y: auto;width:100%; margin-bottom:10px;}
.cscroll_1220 table { width:150%;}

}


@media all and (max-width :1100px) {


/* 피시 모바일에서 숨기고 보이기 기능 */
.pcv_moh_1100{ display:none;}
.pch_mov_1100{ display:block;}

/* 피시 모바일에서 이미지 100% 기능 */
.pc_mo100_1100{width:100%;}
.pc_mo100_1100 img{width: auto;}

.pc100_mo_1100{ width:auto;}
.pc100_mo_1100 img{ width:auto;}


/* 테이블 가로 스크롤바 자동 생성 */
.cscroll_1100 {-webkit-overflow-scrolling:touch; overflow-x: scroll; overflow-y: auto; width:100%;  margin-bottom:10px;}
.cscroll_1100 table { width:150%;}

}


@media all and (max-width :1000px) {

/* 피시 모바일에서 숨기고 보이기 기능 */
.pcv_moh_1000{ display:none;}
.pch_mov_1000{ display:block;}


/* 피시 모바일에서 이미지 100% 기능 */
.pc_mo100_1000{width:100%;}
.pc_mo100_1000 img{width:100%;}

.pc100_mo_1000{ width:auto;}
.pc100_mo_1000 img{ width:auto;}


/* 테이블 가로 스크롤바 자동 생성 */
.cscroll_1000 { overflow:scroll;-webkit-overflow-scrolling:touch;overflow-y: auto;width:100%; margin-bottom:10px;}
.cscroll_1000 table{ width:150%;}

}


@media all and (max-width :950px) {

.cscroll_950 {-webkit-overflow-scrolling:touch; overflow-x: scroll; overflow-y: auto; width:100%; margin-bottom:10px;}

}

/* 모바일 */
@media all and (max-width :768px) {


/* 피시 모바일에서 숨기고 보이기 기능 */
.pcv_moh_768{ display:none;}
.pch_mov_768{ display:block;}


/* 피시 모바일에서 이미지 100% 기능 */
.pc_mo100_768{width:100%;}
.pc_mo100_768 img{width:100%;}

.pc100_mo_768{ width:auto;}
.pc100_mo_768 img{ width:auto;}


.pc_mo100_1000{ width:100%;}
.pc_mo100_1000 img{ width:100%;}



/* 테이블 가로 스크롤바 자동 생성 */


.cscroll_768 {-webkit-overflow-scrolling:touch; overflow-x: scroll; overflow-y: auto; width:100%; margin-bottom:10px;}
.cscroll_768 table { width:800px;}

.cscroll_768_01 {-webkit-overflow-scrolling:touch; overflow-x: scroll; overflow-y: auto; width:100%; margin-bottom:10px;}
.cscroll_768_01 table{ width:150%;}

.cs74_150 table{width:150% !important;}
.cs74_200 table{width:150% !important;}
.cs74_220 table{width:150% !important;}
.cs74_250 table{width:150% !important;}


}
@media all and (max-width :480px) {


/* 피시 모바일에서 숨기고 보이기 기능 */
.pcv_moh_480{ display:none;}
.pch_mov_480{ display:block;}


/* 피시 모바일에서 이미지 100% 기능 */
.pc_mo100_480{width:100%;}
.pc_mo100_480 img{width:100%;}

.pc100_mo_480{ width:auto;}
.pc100_mo_480 img{ width:auto;}



.cscroll_480 {-webkit-overflow-scrolling:touch; overflow-x: scroll; overflow-y: auto;width:100%; margin-bottom:10px;}
.cscroll_480 table { width:150%;}

.cs74_150 table{width:150% !important;}
.cs74_200 table{width:200% !important;}
.cs74_220 table{width:220% !important;}
.cs74_250 table{width:250% !important;}

}

@media all and (max-width :320px) {


/* 피시 모바일에서 숨기고 보이기 기능 */
.pcv_moh_320{ display:none;}
.pch_mov_320{ display:block;}

/* 피시 모바일에서 이미지 100% 기능 */
.pc_mo100_320{width:100%;}
.pc_mo100_320 img{width:100%;}

.pc100_mo_320{ width:auto;}
.pc100_mo_320 img{ width:auto;}


/* 테이블 가로 스크롤바 자동 생성 */
.cscroll_320 {-webkit-overflow-scrolling:touch; overflow-x: scroll; overflow-y: auto;width:100%; margin-bottom:10px;}
.cscroll_320 table { width:150%;}

}                                                                                                                                                                                                                                                                                                                                                                                                

